

body{
    height: 100vh;
    background-color: #F8F4E9;
}
.add-kid {
   margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5rem;
   width: 100vw;

}

.headline {
    color: #144273;
    margin-bottom:0.5rem;
    width: 70%;
    margin: 3rem;
    font-weight: 900;
}

.enter-details{
    font-weight: 700;
    font-size: 2rem;
}

.inputBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    
    margin-top:1rem;
    margin-left:0.1rem;

    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.input-field {
    box-sizing: border-box;
    border: 1px solid #F0F1F7;
    border-radius: 8px;

    margin-top:1rem;
    padding: 5px;
    font-family: 'Roboto';
    font-size:30px;
    width:30rem;
}

.submit-btn {
    width:30rem;
    text-align: center;
    font-family: 'Roboto';
    margin: 50px auto;
    vertical-align: middle;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #144273;
    border-radius: 15px;

}

