.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.graph h1 {
    margin-bottom: 3rem;
}

.barchart {
    max-width: 60vw;
    height: 50vh;
}