
*, :before, :after {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    margin:0;
    width:100vw;
    padding:0;
}

.nav-bar {
    position: relative;
    width: 100vw;
    height: 4rem;
    background: #144273;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
  }

 .main-logo {
    position: absolute;
    height: 2.75rem;
    left: 30px;

 } 

.nav-right {
   position: absolute;
   width: 40%;
   right: 30px;
   display: flex;
   justify-content: space-between;
}

.link {
   width: 10%;
   margin-top: 0.5rem;
}

 .links
 {
    position: absolute;
    height: 2.5rem;
    text-decoration:none;
    color: #FFFFFF;
    margin: auto;
 }
  
 .links:hover {
   color: #d0d0d0;
 }

.profile {
   display: flex;
   width: 30%;
}

 .profile-logo {
    width: 2rem;
    height: 2rem;
    margin: 5px;
 }

.hello-user {
    color: #FFFFFF;
    margin: auto;
}