@media screen and (min-width: 750px) {
  
  .container {
      position: absolute;
      margin:0;
      width:100vw;
      padding:0;
  }
   
.nav-bar {
   position: relative;
   width: 100vw;
   height: 4rem;
   background: #144273;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
 }

.main-logo {
   height: 2.75rem;

} 

.nav-right {
  position: absolute;
  right: 30px;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 10%;
  margin-top: 0.5rem;
}

.links
{
   position: absolute;
   height: 2.5rem;
   text-decoration:none;
   color: #FFFFFF;
   margin: auto;
}
 
.links:hover {
  color: #d0d0d0;
}

.profile {
  display: flex;
  width: 30%;
}

.profile-logo {
   width: 2rem;
   height: 2rem;
   margin: 2px;
}

.hello-user {
   color: #FFFFFF;
   margin: auto 2px;
}

 }

 @media screen and (max-width: 750px) {
      .nav-bar {
         display: none;
      }

      .phoneNavBar {
         width: 100vw;
         background-color: #144273;
         position: relative;
       }

       .phoneNavBar Link {
         color: white;
       }

       .main-logo {
         width: 5rem;
       }

       .navBtn {
        position: absolute;
        right: 10px;
       }

       *{
        overflow-x: hidden;
       }
      } 

 @media screen and (min-width: 1180px) {
   .nav-right {
      width: 40vw;
    }
    .phoneNavBar {
      display: none;
    }
 }


 @media screen and (max-width: 1180px) and (min-width: 750px) {
   .nav-right {
      width: 60vw;
    }
    .phoneNavBar {
      display: none;
    }
 }