@media screen and (min-width: 750px) {
  

.phoneNavBar {
  display: none;
}

.nav-bar {
   position: relative;
   width: 100vw;
   height: 4rem;
   background: #144273;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.20);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
 }

.main-logo {
   height: 2.75rem;
   margin-left: 60px;
} 

.nav-right {
  position: absolute;
  right: 70px;
  display: flex;
  justify-content: space-between;
}

.links
{
   position: absolute;
   height: 2.5rem;
   text-decoration:none;
   color: #FFFFFF;
   margin: auto;
   display: flex;
   justify-content: center;
}

.link1 {
  width: 30%;
}

.link2 {
  width: 30%;
  margin: auto;
}

.link3 {
  width: 40%;
}

 
.links:hover {
  color: #d0d0d0;
}

.profile {
  display: flex;
  width: 20%;
  height: 2.5;
}

.profile-logo {
   width: 1.75rem;
   height: 1.75rem;
   margin: 0 9px 0 auto;
   margin-right: 9px;
}

 }

@media screen and (min-width: 950px) {
  .nav-right {
    width: 40vw;
  }
}

@media screen and (max-width: 949px) and (min-width:751px) {
  .nav-right {
    width: 50vw;
  }
}

 @media screen and (max-width: 750px) {
      .nav-bar {
         display: none;
      }

      .phoneNavBar {
        background: #144273;
         position: relative;
       }

       .phoneNavBar Link {
         color: white;
       }

       .main-logo {
         width: 5rem;
       }

       .navBtn {
        position: absolute;
        right: 10px;
       }

       *{
        overflow-x: hidden;
       }

       .phone-link {
        color: #FFFFFF;
        text-decoration: none;
       }

       .phone-link:active {
        color: #FFFFFF;
        text-decoration: none;
       }

       .navBtn, .navBtn:active {
        color: #144273;
       }
       
      } 

.profileLink {
  text-decoration: none;
  display: flex;
  color: white;
}

.profileLink p:hover {
  color: #d0d0d0;
}