.container {
    width: 100vw;
}

.ParentHome {
    background-color: #F8F4E9;
    position: relative;
    width: 100vh;
}

.rowPart {
    display: flex;
    justify-content: space-between;
}

.col1 {
    width: 70%;
}

.addChild {
    margin: 10px;
    display: flex;
    justify-content: column;
}

.parentHome {
    margin-left: 80px;
    text-align: left;
}

.addChild h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.add {
    width: 1.5rem;
    margin: 0 10px;
}
.notifs-icon {
    width: 10rem;
    height: 5pxrem;
    margin:60px 10px;
    color:white
}

.add-button:hover {
    transform: scale(1.2);
}

.childDetails {
    background-color: white;
    color: rgb(65, 65, 65);
    border-style: none;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.20);
    text-align: left;
    margin: 20px 20px 13px 20px;
}

.childDetails:hover {
    background-color: white;
    color: rgb(65, 65, 65);
    border-style: none;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.onechild {
    display: flex;
    align-items: center;
}

.child-img {
    width: 3.5rem;
    margin: auto;
}

.name {
    font-size: 1.5rem;
}
.email {
    font-size: 1.15rem;
}

.moreInfo {
    background-color: #F9F9F9;
    color: black;
    margin: 0 20px 20px 20px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    font-size: 1rem;
}

.forSpace {
    display: flex;
    justify-content: space-between;
}

.restrictedPart {
    background-color: white;
    padding: 5px;
}

.amtBtn {
    background-color: white;
    color: rgb(65, 65, 65);
    border-style: none;
    width: 100%;
    margin: 20px auto;
}

.amtBtn:hover, .payBtn:hover {
    background-color: rgb(242, 242, 242);
}

.amtPart {
    background-color: white;
    color: rgb(65, 65, 65);
    border-style: none;
    width: 100%;
    margin: 20px auto;
}

.toPay {
    display: flex;
    margin: auto;

}

.inputPart {
    width: 65%;
    margin: 10px;
    padding-bottom: 4px;
    background-color: rgb(205, 205, 205);
    border-style: none;
    height: 2.5rem;
    border-radius: 5px;
}

.payBtn{
    background-color: #144273;
    color: white;
    border-style: none;
    margin:auto;
    margin-bottom: 1px;
    width: 30%;
    height: 2.5rem;
}

.payBtn:hover {
    background-color: #1e5a9b;
} 

.requestPlaced {
    margin: 20px 30px;
}

.header {
    display: flex;
    padding: 80px 0 20px 0;
    padding: 80px 20px 20px 20px;
    margin: 20px;
    justify-content: space-between;
}

.greeting {
    color: black;
    font-weight: 800;
}

.addChild {
    font-weight: 400;
}

.parentHome {
    margin-left: 80px;
    text-align: left;
}

.noChild {
    color: rgb(155, 155, 155);
    font-weight: 300;
}

#card-element {
    width: 500px;
    height: 500px;
}

@media screen and (min-width: 750px) {
    
}

