

.App {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.transaction {
    width: 99vw;
    display: flex;
    background-color: #F8F4E9;
}

.box {
    background-color: white;
    border-radius: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    border-color: #000000;
    border-width: 1px;
}

.row {
    margin: auto;
}

.row1 {
    background-color: #E6E6E6;
    padding: 10px;
}

.transheaders {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E6E6E6;
    display: flex;
}

@media screen and (min-width: 750px) {

    .box {
        margin:5rem auto;
        width: 60rem;
    }

    .trans_info {
        font-size: 1rem;
        padding: 30px;
    }

    .trans_header h2 {
        font-size: 1.5rem;
    }

    .trans_header {
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        width: 99%;
        margin: auto;
    }

}

@media screen and (max-width: 750px) {

    .transaction h2, h1{
        overflow-y: hidden;
    }

    .box{
        margin: 20px auto;
        width: 90%;
    }

    .trans_header h2 {
        font-size: 0.65rem;
    }

    .trans_info {
        font-size: 0.5rem;
    }

    .trans_header h2 {
        font-size: 1rem;
    }

    .trans_header {
        border-radius: 5px;
        padding: 3px;
    }

}